/* .active{
  color: red;
}

.spacebuttom{
  margin-top: 50px;
}

.signup{
  padding-left: 10px;
  border: 2px solid greenyellow;
  border-radius: 30px;
}

.signup:hover{
  background-color: gray;
}

.login {
  padding-left: 10px;
  border: 2px solid greenyellow;
  border-radius: 30px;
}

.login:hover {
  background-color: gray;
}

.masteruser {
  padding-left: 10px;
  border: 2px solid greenyellow;
  border-radius: 30px;
}

.masteruser:hover {
  background-color: gray;
} */